annotated-types
anyio
certifi
charset-normalizer
click
deprecation
exceptiongroup
fastapi
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
idna
packaging
postgrest
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
python-telegram-bot
realtime
requests
six
sniffio
starlette
storage3
StrEnum
supabase
supafunc
telegram
typing-inspection
typing_extensions
urllib3
uvicorn
websockets
psycopg2-binary
resend